.navigation {
  flex: 0 0 230px;
  padding: 5px;
}

.filter {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--gray-color);
}

.list {
  list-style: none;
  padding: 0;
  max-height: 350px;
  overflow-y: scroll;
}

.list > li {
  padding: 5px;
  border: 1px solid var(--gray-color);
  border-bottom: 0;
  cursor: pointer;
}

.list > li:last-child {
  border-bottom: 1px solid var(--gray-color);
}

.list > li.selected {
  background-color: #ddd;
}
